In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("TAGGS Export 4rawnez1.ic4.csv")

In [7]:
df["State"].value_counts()

TX    140
NY     70
VA     27
CA     26
MD     22
IL     21
OR     17
WA     15
DC     14
FL      9
PA      9
AZ      7
NJ      6
NV      5
CT      5
KS      4
Name: State, dtype: int64

In [8]:
df.head()

,Data FY,OPDIV,CFDA Num,CFDA Program Title,Unnamed: 4,State,Award Number,Award Title,Award Code,Budget Year,Action Date,Recipient Name,ZIP Code,Award Amount
0,2018.0,ACF,93676.0,Unaccompanied Alien Children Program,NaN,WA,90ZU0151,23 Bed staff secure program for unaccompanied ...,5.0,3.0,2/5/2018,Pioneer Human Services,981084141.0,"$539,323"
1,2018.0,ACF,93676.0,Unaccompanied Alien Children Program,NaN,WA,90ZU0151,23 Bed staff secure program for unaccompanied ...,3.0,3.0,11/20/2017,Pioneer Human Services,981084141.0,"$539,323"
2,2018.0,ACF,93676.0,Unaccompanied Alien Children Program,NaN,WA,90ZU0151,23 Bed staff secure program for unaccompanied ...,6.0,3.0,5/10/2018,Pioneer Human Services,981084141.0,"$1,078,645"
3,2018.0,ACF,93676.0,Unaccompanied Alien Children Program,NaN,WA,90ZU0151,23 Bed staff secure program for unaccompanied ...,4.0,3.0,11/30/2017,Pioneer Human Services,981084141.0,"$684,128"
4,2018.0,ACF,93676.0,Unaccompanied Alien Children Program,NaN,AZ,90ZU0197,A New Leaf/Unaccompanied Children's Program,0.0,2.0,2/21/2018,"A NEW LEAF, INC.",85203.0,"$752,033"

In [9]:
df["ZIP Code"].unique()

46

In [13]:
str(df["ZIP Code"][0])[:5]

'98108'

In [15]:
airports = pd.read_csv("airport_codes.csv")

In [16]:
airports.head()

,ident,type,name,coordinates,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code
0,00A,heliport,Total Rf Heliport,"-74.93360137939453, 40.07080078125",11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A
1,00AA,small_airport,Aero B Ranch Airport,"-101.473911, 38.704022",3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA
2,00AK,small_airport,Lowell Field,"-151.695999146, 59.94919968",450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK
3,00AL,small_airport,Epps Airpark,"-86.77030181884766, 34.86479949951172",820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL
4,00AR,closed,Newport Hospital & Clinic Heliport,"-91.254898, 35.6087",237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN

In [17]:
airports["type"].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)